*{
    box-sizing: border-box;
}
body{
height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 2px solid red;
}
.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    height: 50%;
    width: 50%; 
}
.connexion h1,input [submit]{
    background-color: green;
}
h1{
    background-color: black;
    color:azure
}