*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}
body{
    
height: 100vh;
background-image: url(../img/img-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
 }
.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 45%; 
    justify-content: space-between;
    border: none;
       background-color: white;
    margin: 20px;
} 
.title{
/* background-color: #51bfd0;
 */width: 90%;
height: 15%;
}
.login{
width: 100%;
display: flex;
justify-content: center;
background-color: aliceblue;
}
.password{
width: 100%;
display: flex;
justify-content: center;  
background-color: aliceblue;
}
.password input{
    
    width:80% ;
    padding: 3%;
}
 .login input{

    width:80% ;
    padding: 3%;
}
.password input{

    width:80% ;
    padding: 3%;
} 
.submit {
    display: flex; 
    width:80% ;
    height: 10%;
    margin-left: 10%; 
    margin-bottom: 30px;
}
.submit p{
    margin-left: 5%;   
}
.submit input{
background-color: #51bfd0;
width: 15%;
color: azure;
margin-bottom: 20px;
}
.login_pass{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
    align-items: center;
}
.jeu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    position: relative;
    background-color:#052426 ;
    color: aliceblue;
}
.jeu img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 2%;
    top: 0;
}
.password img{
    width: 7%;
    height: 100%;
    margin-left: -7%;
}
.login img{
    width: 7%;
    height: 100%;
    margin-left: -7%;
}
.title{
display: flex;
justify-content: center;
background-color: #51bfd0;
 color: aliceblue;
width: 100%;
padding: 10px;
justify-content:space-evenly;
align-items: center;
}
 .title h1{
    font-size: 30px;
    color: aliceblue;
}
.grande{
    margin: 20px;
    width: 80%;
    height: 80%;
    position:absolute;
    left: 10%;
    right: 10%;
    background-color: #c1c1c1;
}
.milieu{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fefdfd; 
}
.gauche{
    height: 100%;
    width: 40%;
    background-color: #c1c1c1;
}
.droite{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    overflow: hidden;
overflow-y: scroll ;
}
.avatar{
    height: 50%;
   background-color:#8cd4e0;
    display: flex;
    align-items: center;
}
.list{
display: flex; 
flex-direction: column;
 height:40%;
 font-size: 2em;
 margin: 2em;
 }
.question{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.admin{
    display: flex;
    margin: 10px;
    justify-content: space-between;   
}
.joueur{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.quest{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.cercle{
  width: 60%;
  height: 100%;  
  border-radius: 30%;
  display:flex;
  flex-direction: column;
  
 
 font-size: 3em;
 text-align: center;
}
.cercle img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
} 
.quest img{
    width: 30px;
    height: 30px;
}
.joueur img{
    width: 30px;
    height: 30px;
}.question img{
    width: 30px;
    height: 30px;
}.admin img{
    width: 30px;
    height: 30px;
}
.grand_div{
    display: flex;
    height: 80%;
    font-size: 1em;
    width: 80%;
    background-color: white;
  margin-left: 5%; 
 }
.moyen_div{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;   
 }
.cercle_div{
height: 90%;
width: 45%;
 text-align: center;
font-size: 2em;
margin-left: 5%;   

}
.cercle_div img{
    
    margin-top: 10%;
    border: 5px solid #39ddd6;
    width: 100%;
    height: 60%;
    border-radius: 50%;
}
.control{
height: 90%;
width: 100%;

} 
.control form{
    width: 100%;
    height: 100%;
}
input{
    padding: 20px;
}
/* input[type=submit]{
     background-color: #39ddd6;
     color: white;
    height: 7vh;
} */
.title a{
    text-decoration: none;
   background-color: #39ddd6;
     padding: 1.5em;
    color: white;  
}
a{
    text-decoration: none;
}
.form_control{
    display: flex;
    flex-direction: column;
    background-color: white;
   height: 13.5%;
}
#form_ins{
width: 110%;
margin-left: 5%;
height: 70vh;
border: none;
}
#form_ins p{
    font-size: 1em;
    line-height: 5px;
}
#form_ins h3{
    font-size: 25px;
    line-height: 5px;
}
#av{
    display: flex;
    justify-content: space-between;
    
}
.form_control input{
    height: 5%;
    border-radius:5%;
    font-size: 1em;
}
#form_ins button{
    margin-bottom: 10px;
    font-size: 25px;
    width: 10vw;
    height:7vh ;
     background-color: #39ddd6;
     color: white;
}
#av button{
    font-size:25px ;
}
#av input{
width:10vw;
/*  background-color: #39ddd6;
 */     
}
#acc{
    text-align: center;
    width: 100%;
    height: 70%;
     background-color: #51bfd0;
 
}
#acc h1{
    font-size: 265px;
    color: white;
}
 
#cc{
    display: flex;
    width: 100%;
}
#cc h2{
    font-size: 23px;
}
.cercle_div input[type=file]{
    visibility: hidden;
}

.ques{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid green;
   margin: 20px 0; 
}
.ques label{
    font-size: 23px;
    font-weight: bold;
    width: 30%;
}

.ques input[type=text]{
    width: 70%;
    font-size: 20px;
}
.ques input[type=number]{
    width: 10%;
    margin-left: -60%;
    font-size: 20px;
    padding: 10px;
}

.ques select{
    width: 55%;
    font-size: 25px;
}
#form2{
/*     height: auto;
 */    display: flex;
    width: 80%;
    margin-left: 5%;
    flex-direction: column;
    justify-content: space-between;
   /*  border: 1px solid red; */
}
#h1{
    color: #39ddd6;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10%;
}
#enregistrer{
    background-color: #39ddd6;
    color: white;
    width: 20%;
    margin-left: 80%;
    margin-top: 20%;
}
#ajout_reponses{
    height: 200px;
    width: 120%;
    overflow: hidden;
    overflow-y:scroll;
    
   /*  border: 1px solid green; */
}
.cercle_div label,#av label{
    cursor: pointer;
}
#av label{
    font-size: 25px;
    font-weight: bold;
}
#ajout_reponses div{
display: flex;
justify-content: space-between;
align-items: center;
width: 50%;
margin-left: 15%;
border: 3px solid blue;
}
#ajout_reponses img{
    height: 25px;
}
#ajout_reponses div input[type=text]{
height: 25px;
}
#Form{
    border:2px solid gray;
}

#boutton {
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: space-around;  
}
#boutton button{
    padding: 2em;
}
.btn{
    font-size: 2em;
    background-color: #39ddd6;
    color: white;
    
    box-shadow: 5px 5px 5px 5px rgba(8, 4, 8, 0.2);
}
#num{
    display: flex;
    width: 60%;
    justify-content: space-around;
 }
#num input{
    width: 30%;
    align-content: center;
}
#point{
    width: 70%;
}
 #errors{
    visibility: hidden;
} 
#ques{
    display: flex;
    flex-direction: column;
   font-size: 2em;
}
textarea{
    font-size: 1em;
}

ol{
  display: flex;  
  flex-direction: column;
}
#div{
    display: block;   
}
.ques small{
visibility: hidden;
color: var(--error-color);
}
.ques.error small{
    visibility: visible;
}
 .tble{
     overflow: hidden;
    width: 60%;
   margin: 5%;
   margin-left: 15%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid rgb(125, 250, 114); */
}

#tr{
    font-size: 2em;
    display: flex;
    width: 100%;
/*     margin-left: 0;
 */    margin-bottom: 10%;
  justify-content: space-around;
     align-items: center;
}
#table{
    display: flex;
    width: 100%;
    height: 50%;
  justify-content: space-around;
     align-items: center;
     margin-left: 10%;
     
} 
#table td{
    width: 90vh;   
    padding: 2%;
    font-size: 2em;   
}    
#tt{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

